body {
  background-image: url(C:\Users\sophia\Documents\bucketlistt\public\cinna2.png);
  background-attachment: fixed;
  background-position: center;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: aliceblue;
  border: 2px solid black;
  overflow-y: auto;
}

.header-title {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #bcd4e6;
  padding: 8px;
  margin: 0;
}

.add-task {
  text-align: center;
}

.bucket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.bucket-item.completed {
  text-decoration: line-through;
}

.bucket-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.bucket-item button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bucket-item button:hover {
  color: #007bff;
}

/* BucketList.css */
.bucket-list-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.add-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.add-item input {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
}

.add-item button {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-item button:hover {
  background-color: #0056b3;
}

.bucket-items {
  margin-top: 20px;
}

.bucket-items h1 {
  text-align: center;
}

/*COMPLETION BAR*/

.percent-bar {
  position: sticky;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  z-index: 1;
  display: flex;
}

.progress {
  height: 100%;
  border-radius: 5px;
}

.low {
  background-color: #ff6347; /* Red color */
}

.medium {
  background-color: yellow; /* Orange color */
}

.almost {
  background-color: orange;
}

.high {
  background-color: lightgreen;
}

.complete {
  background-color: #50c878; /* Green color */
}

.text-complete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: black;
}
